# Python cache
__pycache__/
*.pyc

# C++ Build directories
sim/build/
build/
CMakeFiles/
CMakeCache.txt
*.cmake

# Compiled python modules
*.pyd
*.so
*.dll

# RL Checkpoints & Results
checkpoints/
results/
*.zip
*.json

# Datasets and large binary logs
data/
*.bag

# Overleaf export packages
overleaf_package/
overleaf_package.zip
